<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/login/login_register.css">
</head>
<body>
<form action="/register" method="POST">
    <h2>관리자 회원가입</h2>

    <label for="username">아이디</label>
    <input type="text" id="username" name="username" required>

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" required>

    <label for="store_name">가게 이름</label>
    <input type="text" id="store_name" name="store_name" required>

    <label for="phone_number">전화번호</label>
    <input type="text" id="phone_number" name="phone_number">

    <label for="address">주소</label>
    <input type="text" id="address" name="address">

    <button type="submit">회원가입</button>
</form>
</body>
</html>
